*{
    font-family:monospace;
    box-sizing:border-box;
    margin:0;
    padding:0;
    overflow: hidden;
}

#header{
    width:100%; 
}
#footer{
    width:100%; 
    bottom:0;
    position:absolute;
    
}

#game{
    background-color: black;
    border-color: black;
    height: 100%;
    width: 100%;
    position:absolute;
    display: inline;
}


#inputArea{
    position: fixed;
    width: 60%;
    height: 30px;
    left: 10px;
    bottom: 5px;
    font-size: xx-large;
    background-color: inherit;
    border-style: none;
    outline: none;
}


#inputIndicator{
    display: inline;
    color: #20C20E;
}


#input{ 
    font-size: xx-large;
    display: inline;
    background-color: inherit;
    border-style: none;
    color: white;
    outline: none;
}

#music{
    margin-left: 95%;
    margin-bottom: 10px;
    bottom:0;
    position:absolute;
    width: fit-content;
    text-align: center;
    font-size: 0;
}


#cheatButton{
    background-color: red;
}
#restartButton{
    background-color: red;
}


button{
    width: 100%;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

p{
    font-size: large;
    color: white;
}


#volumeUpButton, #volumeDownButton{
    width: 50%;
}


#inventory{
    color: #20C20E;
    right: 0;
    position:absolute;
    font-size: large;
    
}


#items{
    background: rgba(128,128,128,0.3);
    width: fit-content;
    border: white;
    border-width: medium;
    border-radius: 10px;
    border-style: solid;
}
